body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0000007a;
}
.none{
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin: 1px;
}
.right{
    background-color: green;
}
.wrong{
    background-color: red;
}
.button{
    background-color: #00b7ff;
    color: white;
    border: none;
    float: right;
    text-align: center;
    width:100px;
    height: 30px;
    font-size: 17px;
    
}
.button:hover{
    animation-name: backgroundColor;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
#all{
    background-color: white;
    padding:10px;
    width:75%;
    margin:auto;
    text-align: center;
    font-size: 20px;

}
table{
    margin: auto;
}
#heading{
    font-size: 30px;
}
hr{
    border: solid 0.25px rgb(196, 196, 196);
    width:102%;
    float: left;
}
@keyframes buttonBackground{
    0%{background-color: #00b7ff;}
    100%{background-color: #009edd;}
}